# This is a basic workflow to help you get started with Actions

name: Analyze project

# Controls when the workflow will run
on:
  pull_request:
    branches: [master]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
        
      - name: Clearing project
        run: flutter clean

      - name: Install dependencies
        run: flutter pub upgrade

      - name: Analyze project
        run: flutter analyze

      # - name: Configure linux desctop
      #   run: flutter config --enable-linux-desktop

      # - name: Build linux
      #   run: flutter build linux

