# This is a basic workflow to help you get started with Actions

name: Build release

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
        
      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project
        run: flutter analyze

      # Your project will need to have tests in test/ and a dependency on
      # package:test for this step to succeed. Note that Flutter projects will
      # want to change this to 'flutter test'.
      - name: Run tests
        run: dart test

      - name: Zip artifact for deployment
        run: zip ./build/linux/x64/release/bundle/release.zip ./build/linux/x64/release/bundle/* -r

      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./build/linux/x64/release/bundle/release.zip"
          tag: internal_v0.0.${{ github.run_number }}
          token: ${{ secrets.RELEASES_TOKEN }}

      - name: Show downloads
        uses: actions/upload-artifact@v3
        id: download
        with:
          name: build-for-linux
          path: "./build/linux/x64/release/bundle"

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: "./build/linux/x64/release/bundle"
